:root{
    --color-principal: #1b1f3b;
    --color-secundario: #5b3df0;
    --color-acento: #ff7b54;
    --color-texto: #ffffff;
}

body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0f2b28;
}

#encabezado {
    background-color: var(--color-principal);
    color : var(--color-texto);
    padding: 20px;
    text-align: center;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: var(--color-secundario);
    padding: 15px;
}

.menu a {
    color:white;
    text-decoration: none;
    font-weight: bold;
}

.menu a:hover {
    text-decoration: underline;
}

.menu a.activo {
    background-color: var(--color-acento);
    padding: 5px 12px;
    border-radius: 5px;
    text-decoration: none;
}

.inicio,
.destacados,
.juegos,
.consolas,
.ofertas,
.contacto {
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background-color: white;
    border-radius: 10px;
}

img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin: 10px 0;
}

button{
    padding: 10px 20px;
    cursor: pointer;
    background-color: var(--color-secundario);
    color: white;
    border: none;
    border-radius: 5px;
}
button:hover{
    background-color: var(--color-acento);
}

.lista-destacados,
.lista-juegos,
.lista-consolas {
    text-align: left;
    max-width: 600px;
    margin: 15px auto;
    line-height: 1.6;
}

footer{
    background-color: var(--color-principal);
    color: white;
    text-align: center;
    padding: 15px;
}